@model ClinicaApp.Models.Medicos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidades.nombre_especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidades.nombre_especialidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_medico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
