@model ClinicaApp.Models.Detalle_Receta

@{
    ViewBag.Title = "Detalle de Receta";
}

<h2>Detalle de Receta</h2>

<div class="card">
    <div class="card-body">
        <h4>Información del Medicamento</h4>
        <hr />

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Medicamentos.nombre_medicamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Medicamentos.nombre_medicamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Recetas.indicaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Recetas.indicaciones)
            </dd>

        </dl>
    </div>
</div>

<br />

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_detalle }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
</p>