@model ClinicaApp.Models.Especialidades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Especialidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("Editar", "Edit", new { id=Model.id_medico }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index")
</p>
